<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
  <!-- Optional: For NLog internal debugging -->

  <!-- Define targets -->
  <targets>
    <!-- File Target -->
    <target name="logfile" xsi:type="File"
            fileName="events.log"
            layout="${longdate:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level:uppercase=true} | Thread: ${threadid} | ${callsite:className=true:methodName=true:fileName=true:includeSourcePath=false} | ${message} ${exception:format=tostring}" />

    <!-- Console Target for Fatal errors -->
    <target name="logconsole" xsi:type="Console"
            layout="${longdate:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- Log all levels from Info and higher to the file -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <!-- Log only Fatal level to the console -->
    <logger name="*" minlevel="Fatal" writeTo="logconsole" />
  </rules>
</nlog>